services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    ports:
      - '${DB_PORT}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    profiles: ['full']
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_app
    restart: unless-stopped
    ports:
      - '${PORT:-3000}:3000'
    volumes:
      - ./src:/app/src
      - app_data:/app/data
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=${PORT:-3000}
      - DB_TYPE=${DB_TYPE:-mysql}
      - DB_HOST=${DB_HOST:-db}
      - DB_PORT=${DB_PORT:-3306}
      - DB_USER=${DB_USER:-user}
      - DB_PASSWORD=${DB_PASSWORD:-soy_una_contrasenia_segura}
      - DB_NAME=${DB_NAME:-mydatabase}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  db_data:
  app_data:

networks:
  app-network:
    driver: bridge
